<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 14.28%">Monday</th>
      <th scope="col" style="width: 14.28%">Tuesday</th>
      <th scope="col" style="width: 14.28%">Wednesday</th>
      <th scope="col" style="width: 14.28%">Thursday</th>
      <th scope="col" style="width: 14.28%">Friday</th>
      <th scope="col" style="width: 14.28%">Saturday</th>
      <th scope="col" style="width: 14.28%">Sunday</th>
    </tr>
  </thead>
  <tbody tyle="height: 800px">
    <tr style="height: 20%">
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>