<p>Hello <%= @result[:full_name] %>,</p>

<p>Thanks for signing up for Final Project!</p>

<p>Your username: <%= @result[:email] %></p>
<p>Your password: <%= @result[:password] %></p>

<p>We’re so happy to have you!</p>