<div class="modal fade" id="importTimeSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-4">
      <%= form_with(url: "", html: { class: "form-horizontal" }) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Import Time Sheet</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form.file_field :file, class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <%= form.submit "Import", class: "btn btn-primary waves-effect waves-light ml-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>