<form class="form-horizontal">
  <div class="row d-flex align-items-center mb-4">
    <label class="control-label col-sm-1">First Name:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control">
    </div>

    <label class="control-label col-sm-1">Last Name:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row d-flex align-items-center mb-4">
    <label class="control-label col-sm-1">Phone:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control">
    </div>

    <label class="control-label col-sm-1">Email:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row d-flex align-items-center mb-4">
    <label class="control-label col-sm-1">Gender:</label>
    <div class="col-sm-5">
      <%= select_tag "", options_for_select(gender_options), class: "form-control" %>
    </div>

    <label class="control-label col-sm-1">Birthday:</label>
    <div class="col-sm-5">
      <input type="date" class="form-control">
    </div>
  </div>


  <div class="row d-flex align-items-center mb-4">
    <label class="control-label col-sm-1">Status:</label>
    <div class="col-sm-5">
      <%= select_tag "", options_for_select(status_options), class: "form-control" %>
    </div>

    <label class="control-label col-sm-1">Role:</label>
    <div class="col-sm-5">
      <%= select_tag "", options_for_select(role_options), class: "form-control" %>
    </div>
  </div>


  <div class="row">
    <button class="btn btn-primary waves-effect waves-light ml-4" id="btn-submit">Save</button>
  </div>
</form>