<p>Hello <%= @result[:leader_full_name] %>,</p>

<p>Your have new leave request from : <%= @result[:user_full_name] %></p>
<p>Type: <%= @result[:leave_request_type] %> - Time: <%= @result[:leave_request_time] %></p>

<p>Please approve or reject in Admin site</p>